.luckysheet,
#luckysheet-functionbox,
#luckysheet-helpbox,
.luckysheet-modal-dialog-title-text span {
  font-family: unset;
}
.luckysheet-freezebar-horizontal-drop-bar,
.luckysheet-freezebar-vertical-drop-bar {
  border-width: 0;
}

/* toolbar > more button : prevent overlapping with other buttons */
#luckysheet-wa-editor {
  display: flex;
}
#luckysheet-wa-editor > .luckysheet-toolbar-button {
  margin-right: 0;
}
:not(.luckysheet-toolbar-separator) + #luckysheet-icon-morebtn {
  margin-left: 4px;
}
:not(.luckysheet-toolbar-separator) + #luckysheet-icon-morebtn::before {
  content: '';
  position: relative;
  display: inline-block;
  right: 8px;
  top: 2px;
  height: 20px;
  border-left: 1px solid #e0e0e0;
}
#luckysheet-wa-editor > #luckysheet-icon-morebtn {
  position: static;
  transform: none;
}

/* toolbar > dropdown menus : adjust item width */
.luckysheet-cols-menu {
  width: auto !important;
}
.luckysheet-cols-menu > .luckysheet-cols-menuitem.luckysheet-mousedown-cancel {
  padding-right: 8px;
}
.luckysheet-cols-menuitem-content {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 2;
  padding: 0 !important;
}
.luckysheet-cols-menuitem-content > :last-child {
  flex: auto;
}
.luckysheet-cols-menuitem-content > .luckysheet-submenu-arrow {
  position: static;
  padding: 0;
  line-height: 1;
}
.luckysheet-cols-menuitem-content > .luckysheet-submenu-arrow > .luckysheet-icon {
  height: max-content;
  margin: 0;
}

/* toolbar > borders menu > border size : adjust preview (underline) position */
#luckysheetborderSizepreview {
  left: 25px;
  right: auto !important;
}

/* hide unnamed formula categories */
#formulaTypeSelect > option:empty {
  display: none;
}
